.page-template-page-tecnologia,
.page-template-page-sub-tecnologia{
    .page-blog{
        .headline-page{
            background:#000;
            .title{
                &.sub{
                    p{
                        color:#7300FF;
                    }
                }
                h1{
                    color:#fff;
                }
            }
            &.tec{
                .container{
                    flex-wrap: wrap;
                }
                .title{
                    width: 100%;
                    margin-bottom:3.8rem;
                    h1{
                        color:#7300FF;
                        font-family: 'Roboto Mono', monospace;
                        font-weight: 400;
                        font-style: normal;
                        text-align: center;
                        span{
                            background: none;
                        }
                    }
                }
                .description{
                    width: 100%;
                    text-align: center;
                    max-width: 65rem;
                    margin:0 auto;
                }
            }
        }
        .navbar{
            .menu-container{
                ul{
                    li{
                        a{
                            &:hover{
                                color:#7300FF;
                            }
                        }
                        &.current_page_item{
                            a{
                                color:#7300FF;
                            }   
                        }
                    }
                }
            }
            .submenu-title{
                span{
                    a{
                        color:#7300FF;
                    }
                }
            }
        }
        .thumb-post{
            .category{
                color:#7300FF;
            }
        }
        .featured-category{
            article{
                .category{
                    color:#7300FF
                }
            }
        }
        .list-posts{
            &.white{
                background:#fff;
            }
        }
    }
    .get-informed{
        display: none;
    }
    .banner-vagas{
        margin-top:10rem;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
        }
    }

    
}