.page-blog{
    .headline-page{
        padding:7rem 0;
        background: #fff;
        .container{
            max-width: 100rem;
            display: flex;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 1.8rem;
            color: #8B828B;
        }
        .title{
            width: 50%;
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 1.8rem;
                color: #8B828B;
            }
            h1{
                font-style: italic;
                font-weight: 600;
                font-size: 3.6rem;
                color: #000000;
            }
        }
        .description{
            width: 50%;
            h2{
                font-style: italic;
                font-weight: 600;
                font-size: 2.6rem;
                color: #8B828B;
                margin-bottom:1rem;
            }
        }
    }
}