.page-blog{
    .navbar{
        background: #E9E6E9;
        padding: 1.5rem 0;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .submenu-title{
            display: flex;
            align-items: center;
            a{
                font-family: 'Roboto', sans-serif;
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                color: #8B828B;
                &:after{
                    content: '';
                    display: block;
                    width: .2rem;
                    height: 3.5rem;
                    background: #c3c2c3;
                    margin:0 2rem;
                }
            }
            span{
                font-family: 'Roboto', sans-serif;
                font-size: 1.8rem;
                text-transform: lowercase;
                color:#FF7300;
                font-weight:bold;
            }
        }
        .menu-container{
            display: flex;
            align-items: center;
            .menu{
                display: flex;
                align-items: center;
                li{
                    margin-right: 4rem;
                    a{
                        font-weight:600;
                        font-size: 1.6rem;
                        color: #8B828B;
                        font-style: italic;
                        &:hover{
                            color:#FF7300;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                &:after{
                    content: '';
                    display: block;
                    width: .2rem;
                    height: 3.5rem;
                    background: #c3c2c3;
                    margin-left: 2rem;
                }
            }
            .menu-search{
                margin-left:2rem;
                form{
                    display: flex;
                    align-items: center;
                    label{
                        display: flex;
                        align-items: center;
                    }
                    .screen-reader-text{
                        display: block;
                        text-indent: -999em;
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(img/layout/lupa.svg) no-repeat center;
                        background-size: 100%;
                    }
                    .search-field{
                        font-weight: 600;
                        font-size: 1.6rem;
                        background:none;
                        border:none;
                        font-style: italic;
                        color: #8B828B;
                        width: 0;
                        transition:.3s;
                        &.expanded{
                            margin-left: 1.5rem;
                            width: 18rem;
                        }
                    }
                    .search-submit{
                        border:none;
                        text-indent: -999em;
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        background: url(img/layout/arrow.svg) no-repeat center;
                        //margin-left: 1rem;
                        display: none;
                        &.expanded{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}